<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请假单列表</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<button class="btn btn-success btn-md" th:onclick="addHoliday()">
    添加请假申请
</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>请假人</th>
        <th>请假类型</th>
        <th>请假理由</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>状态</th>
        <th>备注</th>
        <th>流程实例ID</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="holiday : ${holidayList}">
        <td th:text="${holiday.getId()}"></td>
        <td th:text="${holiday.getTitle()}"></td>
        <td th:text="${holiday.getUserName()}"></td>
        <td th:text="${holiday.getType()}"></td>
        <td th:text="${holiday.getReason()}"></td>
        <td th:text="${holiday.getStartTime()}"></td>
        <td th:text="${holiday.getEndTime()}"></td>
        <td th:text="${holiday.getStatus()}"></td>
        <td th:text="${holiday.getRemark()}"></td>
        <td th:text="${holiday.getInstanceId()}"></td>
        <td>
            <button class="btn btn-primary btn-md" th:onclick="showInstanceInfo([[${holiday.getInstanceId()}]])">
                流程执行情况
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- 流程模态框（Modal） -->
<div class="modal fade" id="modalSection" tabindex="-1" role="dialog" aria-labelledby="modalSection"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle">流程执行情况</h4>
            </div>
            <div class="modal-body" id="modalBody">流程执行情况。</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveHoliday()">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="form-group hidden" id="holidayDiv">
    <form id="holidayForm">
        <div class="form-group col-sm-12">
            <label class="col-sm-3 control-label" for="title">请假标题:</label>
            <input type="text" class="col-sm-9" name="title" id="title" placeholder="请假标题">
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-3 control-label" for="userName">请假人:</label>
            <select class="col-sm-9" id="userName" name="userName">
                <option value="zhangsan">张三</option>
                <option value="lisi">李四</option>
                <option value="wangwu">王五</option>
                <option value="zhaoliu">赵六</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-3 control-label" for="reason">理由:</label>
            <input type="text" class="col-sm-9" name="reason" id="reason" placeholder="请假理由">
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-3 control-label" for="type">请假类型:</label>
            <input type="text" class="col-sm-9" name="type" id="type" placeholder="请假类型">
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-3 control-label" for="remark">备注:</label>
            <input type="text" class="col-sm-9" name="remark" id="remark" placeholder="备注">
        </div>
    </form>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var ctxPath = window.location.protocol + '//' + window.location.host + '/';

    function addHoliday() {
        console.info("addHoliday");
        $("#modalBody").html($("#holidayDiv").html());
        $("#modalBody").css("height"," 400px");
        $('#modalSection').modal('toggle');
    }

    function saveHoliday() {
        var data = $('#modalBody form').serializeArray();
        $.ajax({
            url: ctxPath + "holiday/add",
            type: 'get',
            data: data,
            success: function (data) {
                console.info("data", data);
                $('#modalSection').modal('toggle');
            }
        });

    }

    function showInstanceInfo(instanceId) {
        $.ajax({
            url: ctxPath + "holiday/queryHistoricActivity",
            type: 'get',
            data: {processInstanceId: instanceId},
            dataType: "json",
            success: function (data) {
                console.info("data", data);
                $("#modalBody").html(JSON.stringify(data));
                $('#modalSection').modal('toggle');
            }
        });
    }
</script>
</body>
</html>
